<div class="device-form-container">
  <h2>Change password</h2>

  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <!-- Current password -->
    <mat-form-field appearance="outline">
      <mat-label>Current password</mat-label>
      <input matInput formControlName="oldPassword" required type="password">
      <mat-error *ngIf="passwordForm.get('oldPassword')?.hasError('required')">
        Current password is required.
      </mat-error>
    </mat-form-field>

    <!-- New password -->
    <mat-form-field appearance="outline">
      <mat-label>New password</mat-label>
      <input matInput formControlName="newPassword" required type="password">
      <mat-error *ngIf="passwordForm.get('newPassword')?.hasError('required')">
        New password is required.
      </mat-error>
      <mat-error *ngIf="passwordForm.get('newPassword')?.hasError('minlength')">
        Password must be at least 3 characters long.
      </mat-error>
    </mat-form-field>

    <!-- Confirm password -->
    <mat-form-field appearance="outline">
      <mat-label>Confirm password</mat-label>
      <input matInput formControlName="confirmPassword" required type="password">
      <mat-error *ngIf="passwordForm.get('confirmPassword')?.hasError('required')">
        Confirm password is required.
      </mat-error>
    </mat-form-field>

    <!-- Password mismatch error -->
    <p class="text-danger" *ngIf="passwordForm.hasError('passwordMismatch')">
      Passwords do not match!
    </p>

    <div class="button-group">
      <button mat-raised-button color="primary" type="submit" [disabled]="passwordForm.invalid">
        Submit
      </button>
    </div>
  </form>
</div>
