<div class="device-form-container">
  <h2>Change password</h2>

  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Old password</mat-label>
      <input matInput formControlName="oldPassword" required type="password">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>New password</mat-label>
      <input matInput formControlName="newPassword" required type="password">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Confirm password</mat-label>
      <input matInput formControlName="confirmPassword" required type="password">
    </mat-form-field>

    <div class="button-group">
      <button mat-raised-button color="primary" type="submit">
        Submit
      </button>
    </div>
  </form>
</div>
