<h2 mat-dialog-title>Tìm kiếm User</h2>

<div mat-dialog-content>
  <div class="d-flex align-items-center gap-2 mb-2">
    <input type="text" [(ngModel)]="searchUsername" class="form-control" placeholder="Nhập tên username">
    <button class="btn btn-primary" (click)="searchByUsername()">Tìm</button>
  </div>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of accounts | paginate: { itemsPerPage: 10, currentPage: page}">
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>
        <button class="btn btn-success btn-sm" (click)="selectUser(user)">Chọn</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Phân trang -->
<div *ngIf="totalPages > 1" class="pagination-container ms-auto">
  <button (click)="changePage(page - 1)" [disabled]="page === 0" class="btn btn-outline-primary m-2">Trang trước</button>
  <span>Trang {{ page + 1 }} / {{ totalPages }}</span>
  <button (click)="changePage(page + 1)" [disabled]="page >= totalPages - 1" class="btn btn-outline-primary m-2">Trang sau</button>
</div>
