.search-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.search-container label {
  font-weight: bold;
  margin-right: 5px;
  min-width: 80px;
}

.search-container input {
  flex: 1;
  min-width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-container button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.search-container button:hover {
  background-color: #0056b3;
}

.card {
  /*max-width: 600px;*/
  margin: auto;
}

btn-search {
  width: 150px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.pagination-container button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.pagination-container button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination-container button:hover:not(:disabled) {
  background-color: #0056b3;
  transform: scale(1.05);
}

.pagination-container span {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

