<div class="device-form-container">
  <h2>{{ deviceId ? 'Chỉnh sửa thiết bị' : 'Thêm mới thiết bị' }}</h2>

  <form [formGroup]="deviceForm" (ngSubmit)="onSubmit()">
    <!-- Tên thiết bị -->
    <mat-form-field appearance="outline">
      <mat-label>Tên thiết bị</mat-label>
      <input matInput formControlName="name" required>
      <mat-error *ngIf="deviceForm.get('name')?.hasError('required')">
        Tên thiết bị không được để trống.
      </mat-error>
      <mat-error *ngIf="deviceForm.get('name')?.hasError('pattern')">
        Tên thiết bị không được chứa dấu cách!
      </mat-error>
    </mat-form-field>

    <!-- Loại thiết bị -->
    <mat-form-field appearance="outline">
      <mat-label>Loại thiết bị</mat-label>
      <mat-select formControlName="categoryId" required>
        <mat-option *ngFor="let category of categorys" [value]="category.id">
          {{ category.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="deviceForm.get('categoryId')?.hasError('required')">
        Vui lòng chọn loại thiết bị.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Ghi chú</mat-label>
      <textarea matInput formControlName="note"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Mô tả</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <div class="button-group">
      <button mat-raised-button color="primary" type="submit" [disabled]="deviceForm.invalid">
        {{ deviceId ? 'Cập nhật' : 'Thêm mới' }}
      </button>
<!--      <button mat-raised-button color="warn" type="button" (click)="onCancel()">Hủy</button>-->
    </div>
  </form>
</div>
