<div class="device-form-container">
  <h2>{{ accountId ? 'Edit account' : 'Add new account' }}</h2>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Address</mat-label>
      <input matInput formControlName="address">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" required>
      <mat-error *ngIf="userForm.get('username')?.hasError('required')">
        Username cannot be blank.
      </mat-error>
      <mat-error *ngIf="userForm.get('username')?.hasError('pattern')">
        Username cannot contain spaces!
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="outline" *ngIf="!accountId">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" required type="password">
      <mat-error *ngIf="userForm.get('password')?.hasError('required')">
        Password cannot be blank.
      </mat-error>
      <mat-error *ngIf="userForm.get('password')?.hasError('minlength')">
        Password must be at least 3 characters.
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Fullname</mat-label>
      <input matInput formControlName="fullName" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phone" type="number">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Role</mat-label>
      <mat-select formControlName="role" required>
        <mat-option value="ADMIN">ADMIN</mat-option>
        <mat-option value="USER">USER</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="button-group">
      <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid">
        {{ accountId ? 'Update' : 'Add new' }}
      </button>
<!--      <button mat-raised-button color="warn" type="button" (click)="onCancel()">Hủy</button>-->
    </div>
  </form>
</div>

