<nav class="sidebar bg-dark text-white p-3">
  <h1>User Panel</h1>
  <ul class="nav flex-column">
    <!-- for Devices -->
    <ul class="nav flex-column">
      <!-- Tiêu đề chính -->
      <li class="nav-item main-title">
        <span class="nav-link">Devices</span>
      </li>

      <!-- Các tiêu đề phụ -->
      <li class="nav-item sub-item">
        <a class="nav-link text-white" routerLink="/user/home/my-devices">My Devices</a>
      </li>
    </ul>

    <ul class="nav flex-column">
      <!-- Tiêu đề chính -->
      <li class="nav-item main-title">
        <span class="nav-link">Infor</span>
      </li>

      <!-- Các tiêu đề phụ -->
      <li class="nav-item sub-item">
        <a class="nav-link text-white" routerLink="/user/home/change-password">Change Password</a>
      </li>
    </ul>
  </ul>
</nav>
