<nav class="sidebar bg-dark text-white p-3">
  <h1>Admin Panel</h1>
  <ul class="nav flex-column">
    <!-- for Devices -->
    <ul class="nav flex-column">
      <!-- Tiêu đề chính -->
      <li class="nav-item main-title">
        <span class="nav-link">Devices</span>
      </li>

      <!-- Các tiêu đề phụ -->
      <li class="nav-item sub-item">
        <a class="nav-link text-white" routerLink="/admin/dashboard/device/add">Add Devices</a>
      </li>
      <li class="nav-item sub-item">
        <a class="nav-link text-white" routerLink="/admin/dashboard/device/all">Devices Management</a>
      </li>

      <li class="nav-item sub-item">
        <a class="nav-link text-white" routerLink="/admin/dashboard/device/confirm-return">Confirm Return Devices</a>
      </li>
  </ul>

    <!-- for Devices -->
    <ul class="nav flex-column">
      <!-- Tiêu đề chính -->
      <li class="nav-item main-title">
        <span class="nav-link">Users</span>
      </li>

      <!-- Các tiêu đề phụ -->
      <li class="nav-item sub-item">
        <a class="nav-link text-white" routerLink="/admin/dashboard/user/add">Add User</a>
      </li>
      <li class="nav-item sub-item">
        <a class="nav-link text-white" routerLink="/admin/dashboard/user/all">All User</a>
      </li>
    </ul>
  </ul>
</nav>
