
<!--<div class="search-container">-->
<!--  <label for="fullname">Name</label>-->
<!--  <input type="text" [(ngModel)]="name" placeholder="Name ..." id="fullname">-->

<!--  <label for="id">ID</label>-->
<!--  <input type="text" [(ngModel)]="id" placeholder="ID ..." id="id">-->

<!--  <label for="address">Account đang dùng</label>-->
<!--  <input type="text" [(ngModel)]="accountAssignName" placeholder="Account đang dùng ..." id="address">-->

<!--  <label for="role">Thể loại</label>-->
<!--  <input type="text" [(ngModel)]="type" placeholder="Thể loại ..." id="role">-->

<!--  <label for="username">Description</label>-->
<!--  <input type="text" [(ngModel)]="description" placeholder="Description ..." id="username">-->

<!--  <button (click)="searchDevices()">Tìm kiếm</button>-->
<!--</div>-->


<table class="table table-bordered text-center">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Status</th>
    <th>Note</th>
    <th>Function</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let device of devices">
    <td>{{ device.id }}</td>
    <td>{{ device.name }}</td>
    <td>{{ device.description }}</td>
    <td>{{ device.status === '2' ? 'Đang trả' : 'đang dùng' }}</td>
    <td>{{ device.note }}</td>
    <td>
      <button (click)="returnDevice(device.id)"
              class="btn btn-primary btn-sm"
              [disabled]="device.status == '2'">
        Return device
      </button>

    </td>
  </tr>
  </tbody>
</table>
